@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&family=Roboto:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(../assets/img/Fundo_Cadastro.jpg);
    background-size: cover;
    background-position: center;
}

.container{
    width: 420px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    color: #fff;
    padding: 30px 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    backdrop-filter: blur(5px);
}

.container h1{
    font-size: 36px;
    text-align: center;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    outline: none;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: #e2dbdb;
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.cadastro{
    width: 100%;
    height: 50px;
    background-color: #fff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 20px;
}

.cadastro:hover{
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    color: #fff;
    transition: 0.5s;
}

.msg_validacao{
    color: #fa5e5e;
    font-size: 12px;
    display: none;
    margin-top: 5px;
    text-align: left;
    width: 100%;
}