@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&family=Roboto:wght@200&display=swap');

:root{
    --main-color: #d3ad7f;
    --black: #13131a;
    --bg: #010103;
    --border: 0.1rem solid rgba(255,255,255,0.3);
    font-size: 10px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    transition: 0.2s linear;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(../assets/img/fundo-dash.jpg) fixed;    
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    border-bottom: 1px var(--border);
    background-color: var(--bg);
}

.nav-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 2rem;
    margin: 0 auto;
}

.navbar-left{
    flex: 1;
    color: #fff;
    font-size: 2rem;
    font-weight: 200;
}

.navbar-left b{
    color: var(--main-color);
    font-weight: 600;
}

.navbar-center{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.navbar-center a{
    font-size: 2rem;
    color: #fff;
    font-weight: 200;
}

.navbar-center a:hover{
    color: var(--main-color);
    border-bottom: 0.1rem solid var(--main-color);
    padding-bottom: 0.5rem;
    font-size: 2.3rem;
}

.navbar-right{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.navbar-right button{
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 0.8rem 3rem;
    border-radius: 5px;
    font-size: 1.6rem;
    cursor: pointer;
    transition: 0.3s;
}

.navbar-right button:hover{
    background-color: #a70404;
    color: #fff;
    letter-spacing: 0.3rem;
}

.container-dash{
   display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    margin: 0 auto; 
    margin-top: 100px; 
    width: 100%;
    max-width: 1200px;
}

.kpis{
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    flex-wrap: wrap;
}

.card{
    background: rgba(0, 0, 0, 0.336);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    padding: 20px;
    width: 280px;
    min-height: 350px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.card-header{
    width: 100%;
    height: 180px;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
}

.card-header img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.card-body{
    padding: 20px;
    text-align: left;
}

.card-body h3 {
    font-size: 1rem; 
    font-weight: 500;
    color: #b3b3b3; 
    margin-bottom: 5px;
    text-transform: uppercase; 
    letter-spacing: 1px;
}


.card-body p {
    font-size: 2.5rem; 
    font-weight: 700;
    color: #fff;
    margin: 0;
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}

.card-header img.chopin{
    object-position: 50% 20%;
}


.card-header img.bach{
    object-position: 50% 15%;
}


.card-header img.liszt{
    object-position: 50% 15%;
}

.card-header img.beethoven{
    object-position: 50% 20%;
}

.card-header img.rachmaninoff{
    object-position: 50% 30%;
}

.img-kpi {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block !important; 
    filter: sepia(0.3) brightness(0.7);
}

.sub-kpi{
    display: block;
    font-size: 2rem;
    color: #cecece;
    margin-top: 8px;
    letter-spacing: 0.5px;
}

.sub-kpi b{
    color: #d4a373;
    font-weight: 600;
}

.secao-grafico {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
    margin-top: 40px;
    padding-top: 30px; 
}


.tamanho-chart {
    width: 100%;
}

.tamanho-canvas {
    height: 280px; 
}


.secao-kpi_grafico {
    display: flex;
    width: 100%;
    gap: 30px;
    justify-content: space-between;
}


.metade {
    flex: 1; 
    width: 100%;
}

.chart-box {
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    padding: 25px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.chart-box h3 {
    font-size: 1.4rem;
    color: #fff;
    font-weight: 400;
    margin-bottom: 20px;
    
    letter-spacing: 1px;
}

.chart-box .matematica{
    color: #fff;
    font-size: 2rem; 
    display: inline-block; 
    margin-bottom: 15px;
    margin-top: 15px;
    letter-spacing: 1px;
}

.chart-box .matematica b{
    background-color: rgba(211, 173, 127, 0.15);
    color: var(--main-color);
    border-radius: 5px;
    padding: 4px 16px;
    line-height: 1.8;
}
.canvas-container {
    position: relative;
    width: 100%;
    height: 250px; 
}

.estudo-recente {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 30px;
    box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
    position: relative;
    overflow: hidden;
}

.estudo-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 25px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 15px;
}

.estudo-header i {
    font-size: 2.5rem;
    color: var(--main-color);
}

.estudo-header h3 {
    font-size: 1.6rem;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.data-estudo {
    font-size: 1.3rem;
    color: #ffffff;
    margin-bottom: 8px;
}

.estudo-body h2 {
    font-size: 2.6rem;
    color: #fff;
    font-weight: 700;
    margin-bottom: 10px;
}

.estudo-body p{
    font-size: 2rem;
}

.estudo-tecnica {
    display: inline-block;
    background: rgba(211, 173, 127, 0.15); 
    color: var(--main-color);
    padding: 6px 14px;
    border-radius: 5px;
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 30px;
}

.estudo-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
    color: #fff;
    margin-top: 100px;
}

.estudo-footer b {
    background-color: rgba(211, 173, 127, 0.15); 
    padding: 6px 14px;
    border-radius: 5px;
    font-size: 2.4rem;
    color: var(--main-color);
}