@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&family=Roboto:wght@200&display=swap');

:root{
    --main-color: #d3ad7f;
    --black: #13131a;
    --bg: #010103;
    --border: 0.1rem solid rgba(255,255,255,0.3);
    font-size: 10px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    transition: 0.2s linear;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(../assets/img/fundo-dash.jpg);    
    background-size: cover;
    background-position: center;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    border-bottom: 1px var(--border);
    background-color: var(--bg);
}

.nav-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 2rem;
    margin: 0 auto;
}

.navbar-left{
    flex: 1;
    color: #fff;
    font-size: 2rem;
    font-weight: 200;
}

.navbar-left b{
    color: var(--main-color);
    font-weight: 600;
}

.navbar-center{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.navbar-center a{
    font-size: 2rem;
    color: #fff;
    font-weight: 200;
}

.navbar-center a:hover{
    color: var(--main-color);
    border-bottom: 0.1rem solid var(--main-color);
    padding-bottom: 0.5rem;
    font-size: 2.3rem;
}

.navbar-right{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.navbar-right button{
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 0.8rem 3rem;
    border-radius: 5px;
    font-size: 1.6rem;
    cursor: pointer;
    transition: 0.3s;
}

.navbar-right button:hover{
    background-color: #a70404;
    color: #fff;
    letter-spacing: 0.3rem;
}

.container-dash{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 30px;
}

.kpis{
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    flex-wrap: wrap;
}

.card{
    background: rgba(0, 0, 0, 0.336);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    padding: 20px;
    width: 250px;
    text-align: center;
    color: white;
}

.card h3{
    font-size: 2rem;
    margin-bottom: 10px;
    opacity: 0.8;
}

.card p{
    font-size: 1rem;
    margin: 10px 0;
}